  
@model PaginatedList<sistema_academia.Models.Plano>


@{
    ViewData["Title"] = "SysAcad - Planos ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h3>Planos</h3>
</section>

<section class="content container-fluid">



    <div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
        
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Pesquisar</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>

                  <div class="col-sm-10">
                    <input type="text" name="txtNomePlano" id="txtNomePlano" class="form-control" />
                  </div>
                </div>
               
               
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a asp-action="Cadastrar" class="btn btn-default"><i class="fa fa-edit"></i>Cadastrar novo plano</a>
                <button type="submit" class="btn btn-info pull-right" name="btnBuscar" id="btnBuscar" value="Buscar"><i class="fa fa-search"></i>Buscar</button>

              </div>
              <!-- /.box-footer -->
            </form>
          
          <!-- /.box -->
    </div>
</div>

<section class="content">
 <div class="row">
        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Planos cadastrados</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
<table class="table table-striped">
    <thead>
        <tr>
            <th >
                <a asp-action="index" asp-route-ordem="@ViewData["NomeParm"]" asp-route-filtroAtual="@ViewData["filtroAtual"]">
                    Código
                </a>
            </th>
            <th >
                <a asp-route-ordem="@ViewData["NomeParm"]" asp-route-filtroAtual="@ViewData["filtroAtual"]">
                    Nome
                </a>
            </th>
            <th>
                
                Observação
            </th>
            <th>
                
                Forma de pagamento
            </th>
            <th>
                
                Valor
            </th>
            <th>
                
                Data de cadastro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formaPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCadastro)
            </td>
            <td>
                
                <a asp-action="Editar" asp-route-id="@item.id"><i class="fa fa-files-o"></i></a> |
                <a asp-action="Detalhes" asp-route-id="@item.id"><i class="fa fa-list-alt"></i></a> |
                <a asp-action="Excluir" asp-route-id="@item.id"><i class="fa fa-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

}

<div class="row">

    <a asp-action="Index"
        asp-route-ordem="@ViewData["ordemAtual"]"
        asp-route-pagina="@(Model.PageIndex - 1)"
        asp-route-filtroAtual="@ViewData["filtroAtual"]"
        class="btn btn-default @prevDisabled">
            <<
    </a>
    <a asp-action="Index"
    asp-route-ordem="@ViewData["ordemAtual"]"
    asp-route-pagina="@(Model.PageIndex + 1)"
    asp-route-filtroAtual="@ViewData["filtroAtual"]"
    class="btn btn-default @nextDisabled">
        >>
    </a>
</div>

            </div>
            </div>
            </div>
</div>
</section>
</section>