@model sistema_academia.Models.Aluno

@{
    ViewData["Title"] = "Sistema de Controle de Academia - Exclusão de Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exclusão</h2>

<h3>Tem certeza que deseja excluir este recurso?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enderecoCep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enderecoCep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enderecoRua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enderecoRua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enderecoNumero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enderecoNumero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enderecoBairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enderecoBairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enderecoCidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enderecoCidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enderecoEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enderecoEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataCadastro)
        </dd>
    </dl>
    
    <form asp-action="Excluir">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Listagem</a>
    </form>
</div>
