@model PaginatedList<sistema_academia.Models.Aluno>

@{
    ViewData["Title"] = "SysAcad - Alunos cadastrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h3>Alunos</h3>
</section>

<section class="content container-fluid">
    

<div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
        
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Pesquisar</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>

                  <div class="col-sm-10">
                    <input type="text" name="filtro" class="form-control" />
                  </div>
                </div>
               
               
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a asp-action="Cadastrar" class="btn btn-default"><i class="fa fa-user-plus"></i>Cadastrar novo aluno</a>
                <button type="submit" class="btn btn-info pull-right" name="btnBuscar" id="btnBuscar" value="Buscar"><i class="fa fa-search"></i>Buscar</button>

              </div>
              <!-- /.box-footer -->
            </form>
          
          <!-- /.box -->
    </div>
</div>
<section class="content">
 <div class="row">
        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Alunos cadastrados</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Situação
                    </th>       
                    <th>
                        Dia de vencimento    
                    </th>      
                    <th>
                        Data de cadastro
                    </th>       
                    <th></th>
                </tr>
                @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.situacaoAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaVencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCadastro)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.id"><i class="fa fa-files-o"></i></a> |
                <a asp-action="Detalhes" asp-route-id="@item.id"><i class="fa fa-list-alt"></i></a> |                
                <a style="cursor: pointer;" id="@item.id" class="removeAluno"><i class="fa fa-remove" id="@item.id"></i></a>
            </td>
        </tr>
}



@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

}
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

                 <a asp-action="Index"
                    asp-route-ordem="@ViewData["ordemAtual"]"
                    asp-route-pagina="@(Model.PageIndex - 1)"
                    asp-route-filtroAtual="@ViewData["filtroAtual"]"
                    class="btn btn-default @prevDisabled">
                        <<
                </a>
                <a asp-action="Index"
                asp-route-ordem="@ViewData["ordemAtual"]"
                asp-route-pagina="@(Model.PageIndex + 1)"
                asp-route-filtroAtual="@ViewData["filtroAtual"]"
                class="btn btn-default @nextDisabled">
                    >>
                </a>
               
            </div>
          </div>
          <!-- /.box -->
   </div>


   <div class="modal fade" id="modal-default">
    <form action="" name="frmModal" id="frmModal" method="post">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tem certeza que deseja realizar a exclusão?</h4>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-danger">Excluir</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
    </div>
    </form>

</section>


</section>