@model IEnumerable<sistema_academia.Models.Aluno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Cadastrar novo aluno</a>
</p>

<form name="buscaAluno" id="buscaAluno" method="get" action="">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"></div>
    <label>
        Nome:
    </label>

    <br />
    <input type="text" name="txtNomeAluno" class="form-control" />

    <input type="submit" class="btn btn-default" name="btnBuscar" id="btnBuscar" value="Buscar" />
    </div>
    </div>
</form>
<div class="container">
<div class="row">

<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoCep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoRua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoCep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoRua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCadastro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>