@model sistema_academia.Models.Treino

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Treino</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.objetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
